body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#logo {
    width: 50px; /* Adjust the logo width as needed */
    height: auto;
    border-radius: 5px;
    margin-right: 90%;
}
#login-btn {
    background-color: #fff;
    color: #007BFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Doctorbtn{
    position: absolute;
        top: 10px;
        right: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styles for review cards */
#reviews ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.review-card {
    width: calc(30% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.review-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}