body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
#logo {
    width: 50px; /* Adjust the logo width as needed */
    height: auto;
    border-radius: 5px;
    margin-right: 90%;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar{
    position: absolute;
    right: 0px;
    top: 0px;
    
}
.navbar {
    background-color: #007BFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.quick-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 5px;
    font-size: 16px;
    transition: color 0.3s;
}

.quick-link:hover {
    color: #fff; /* Change color on hover if desired */
}

#logout-btn {
    background-color: #fff;
    color: #007BFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#logout-btn:hover {
    background-color: #007BFF;
    color: #fff;
}
.patient-search{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: flex;
    margin: 20px;
    margin-left: 40%;
}
#search-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#search-input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
